name: Continious Integration

on:
  push:
    paths:
      - "src/**"
      - "build.sbt"
      - "project/**"
  pull_request:
    paths:
      - "src/**"
      - "build.sbt"
      - "project/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - name: Cache SBT
      uses: actions/cache@v2.1.4
      with:
        path: |
          ~/.ivy2/cache
          ~/.sbt
        key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
    - name: Setup Scala
      uses: actions/setup-java@v2
      with:
        java-version: 11
    - name: Test with Coverage / Static code analyse / Code style
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sbt ci
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./target/scala-2.12/scoverage-report/scoverage.xml
        directory: ./target/scala-2.12/scoverage-report/
        fail_ci_if_error: true
        verbose: true